==
<?
function onLookupInvoice()
{
    $data = Request::validate([
        'invoice_number' => 'required',
        'invoice_email' => 'required|email',
    ]);

    $invoice = (new Responsiv\Pay\Models\Invoice)
        ->where('email', $data['invoice_email'])
        ->applyInvoiceNumber($data['invoice_number'])
        ->first();

    if (!$invoice) {
        throw new ValidationException(['invoice_number' => 'Invoice not found']);
    }

    if ($invoice->is_paid) {
        throw new ValidationException(['invoice_number' => 'Invoice already paid. Thanks!']);
    }

    return Redirect::to($this->pageUrl('payment', ['hash' => $invoice->getUniqueHash()]));
}
?>
==
<section class="page-section" id="invoice">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Pay Invoice</h2>
            <h3 class="section-subheading text-muted">
                Enter your details below to open an invoice from us.
                You may also log in to
                <a href="{{ 'account/index'|page }}">
                    view all invoices
                </a>.
            </h3>
        </div>

        <form id="invoiceForm" data-request="onLookupInvoice" data-request-validate data-request-flash>
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <input class="form-control" name="invoice_number" type="text" placeholder="Invoice Number" />
                        <div class="invalid-feedback" data-validate-for="invoice_number"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Email address input-->
                        <input class="form-control" name="invoice_email" type="email" placeholder="Your Email Address" />
                        <div class="invalid-feedback" data-validate-for="invoice_email"></div>
                    </div>
                </div>
            </div>
            <div class="d-none" id="submitErrorMessage">
                <div class="text-center text-danger mb-3">Error sending message!</div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">
                    Lookup Invoice
                </button>
            </div>
        </form>
    </div>
</section>
