<form method="post" data-request="onLogin" data-request-flash>
    <input type="hidden" name="redirect" value="account/index" />

    <div class="text-center pb-3">
        <h1 class="h2 mb-3">Sign in to your account</h1>
        <h2 class="h5 fw-normal">Enter your email address and password</h2>
    </div>

    <div class="form-floating my-3">
        <input
            name="email"
            type="email"
            class="form-control"
            id="inputEmail"
            placeholder="name@example.com"
            oninput="document.getElementById('inputRecoverEmail').value = this.value"
        />
        <label for="inputEmail">Email address</label>
    </div>

    <div class="form-floating my-3">
        <input
            name="password"
            type="password"
            class="form-control"
            id="inputPassword"
            placeholder="Password"
        />
        <label for="inputPassword">Password</label>
    </div>

    <button
        class="btn btn-primary btn-lg w-100 py-2"
        data-attach-loading
        type="submit">
        Sign in
    </button>

    {% if authentication.showRememberMe %}
        <div class="text-center my-3">
            <div class="form-check form-check-inline">
                <input
                    name="remember"
                    type="checkbox"
                    class="form-check-input"
                    id="inputRemember"
                />
                <label class="form-check-label" for="inputRemember">
                    Remember me
                </label>
            </div>
        </div>
    {% endif %}
</form>
