##
url = "/account/password"
layout = "default"
title = "New Password"

[newPassword]
isDefault = 1
==
{% if not newPassword.canReset %}
    {% do abort(404) %}
{% endif %}
{% put meta %}
    <meta name="turbo-cache-control" content="no-cache">
{% endput %}

{% if newPassword.hasInvite %}
    {% set passwordHandler = 'onConfirmPassword' %}
{% elseif newPassword.hasToken %}
    {% set passwordHandler = 'onResetPassword' %}
{% else %}
    {% set passwordHandler = 'onChangePassword' %}
{% endif %}

<div class="page-account">
    <div class="py-4">
        <main class="form-login m-auto">

            <form method="post" data-request="{{ passwordHandler }}" data-request-flash>
                <div class="text-center pb-3">
                    {% if newPassword.hasInvite %}
                        <h1 class="h2 mb-3">Welcome!</h1>
                    {% elseif newPassword.hasToken %}
                        <h1 class="h2 mb-3">Reset password</h1>
                    {% else %}
                        <h1 class="h2 mb-3">Change password</h1>
                    {% endif %}
                    <h2 class="h5 fw-normal">Enter a new password.</h2>
                </div>

                {% if newPassword.hasToken %}
                    <input type="hidden" name="redirect" value="{{ 'account/login'|page }}" />
                    <input type="hidden" name="token" value="{{ newPassword.token }}" />
                    <input type="hidden" name="email" value="{{ newPassword.email }}" />
                {% else %}
                    <input type="hidden" name="redirect" value="{{ 'account/index'|page }}" />
                    <div class="form-floating my-3">
                        <input
                            name="current_password"
                            type="password"
                            class="form-control"
                            id="inputCurrentPassword"
                            placeholder="Current Password"
                        />
                        <label for="inputPassword">Current password</label>
                    </div>
                {% endif %}

                <div class="form-floating my-3">
                    <input
                        name="password"
                        type="password"
                        class="form-control"
                        id="inputPassword"
                        placeholder="Password"
                        autocomplete="new-password"
                    />
                    <label for="inputPassword">Password</label>
                </div>

                <div class="form-floating my-3">
                    <input
                        name="password_confirmation"
                        type="password"
                        class="form-control"
                        id="inputPasswordConfirmation"
                        placeholder="Confirm Password"
                        autocomplete="new-password"
                    />
                    <label for="inputPasswordConfirmation">Confirm password</label>
                </div>

                <button
                    class="btn btn-primary btn-lg w-100 py-2"
                    data-attach-loading
                    type="submit">
                    {% if newPassword.hasInvite %}
                        Set password
                    {% else %}
                        Reset password
                    {% endif  %}
                </button>
            </form>

        </main>
    </div>
</div>
